{% extends "base.html" %}
{% block title %}Wat is er nieuw? - PLUSLokaal{% endblock %}
{% block content %}
<div class="changelog-wrap changelog">
  <a href="{{ request.referrer if request.referrer and '/changelog' not in request.referrer else url_for('dashboard') }}" class="backlink"><i class="fa fa-arrow-left"></i> Terug</a>
  <div class="changelog-head" style="margin-top:8px;">
    <div class="changelog-head__ic"><i class="fa fa-code-branch"></i></div>
    <div>
      <h1 class="page-title" style="margin:0;">Wat is er nieuw?</h1>
      <p class="page-sub" style="margin-top:2px;">De vernieuwingen van PLUSLokaal <span class="changelog-badge">nu: versie {{ version }}</span></p>
    </div>
  </div>

  <div class="panel" style="margin-top:16px;">
    <div class="panel__body">
      <div class="kb-content">
        {{ render_markdown(body) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
